# Excluir la carpeta de descargas individuales (para no saturar GitHub con 9200+ archivos)
output/descargas/

# Excluir cache de python y archivos del entorno
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.idea/
.vscode/
