# Excluir la carpeta de salida entera
output/

# Excluir cache de python y archivos del entorno
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.idea/
.vscode/

# Credenciales
credenciales.json


.vercel
.env*.local
